/* selector universal
*{
    color: cyan;
    background-color: black;
} */


*{
    background-color: rgb(16, 6, 54);
}

h1, h2, h3, p, button{
    color: aqua;
}

/* kalau misal di ganti span bukan li , maka bulletnya tetep hitam */
/* li{
    color: rgb(178, 234, 234);
} */

span{
    color: aquamarine;
}

/* kalau span ada id kasi pagar depannya */

#list2 {
    color: rgb(0, 255, 247);
}

.mark{
    background-color: tomato;
}
