div{
    width: 300px;
    padding: 50px;
    margin: 40px;
}

div{
    /* shortcut dari top right bottom left, ctrl + shift + p + join line  */
    border-style: dashed; border-top-style: groove; border-right-style: double; border-bottom-style: ridge; border-left-style: inset;
    /* top right bottom left  */
    border-width: 5px, 15px, 10px, 5px;
    border-top-width: 10px;
    /* bisa juga per sisi border di buat beda warna  */
    border-color: aqua;
}

div{
    /* jarak border dengan text  */
    /* padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-right: 40px; */

    /* vertikal, horizontal  */
    /* padding: 10 px 40px; */

    /* vertikal, horizontal bottom */
    padding: 10px 100px 100px;
}


div{
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    
}

